<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo Website</title>
</head>
<body>
    <h1 style="text-align:center;">ToDo Website</h1>
    <form style="text-align:center;" action="" method="POST">
        {% csrf_token %}
        <span style="font-weight: bold;">Enter the Tasks :</span>
        <input type="text" name="title" placeholder="Add a new Task.." required>
        <button type="submit" name="add_task">+</button>
    </form>
    <div class="tasks">
        {% for todo in todo %}
            <p>{{todo.title}}</p>
        {% endfor %}
    </div>
</body>
</html>