{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static "update.css" %}">
{% endblock extra_css %}
{% block content %}
    <div class="update">
        <h1 class="h1" style="text-align:center;">Update Task</h1>
        <div class="form">
            <form class="update_form" method="POST">
            {% csrf_token %}
            <input class="input" type="text" name="title" value="{{ tasks.title }}">
            <button class="update_btn" type="submit">Update</button>
            </form>
            <div class="back_link">
                <a href="{% url "todo" %}">Back to home</a>
            </div>
        </div>
    </div>
{% endblock  %}